.header {
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  width:100%;
  box-sizing: border-box;
}

.headerWrapper {
  margin:0 auto;
  height:110px;
}
.logo {
  float:left;
  padding: 30px 0 0;
}
.title {
  text-align:center;
  line-height:50px;
  margin-left: 100px;
}

.gnb {
  position:relative;
  float:right;
}